<%- include('partials/header'); -%> <!--EJS already knows to look inside the 'views' folder-->

<h2 style="letter-spacing: 1px; color: black; font-family: 'Pacifico', cursive;"><%= EJS_HOME_P %> </h2>

<%  posts.forEach(function(element){ %> 
    <% console.log(element.title); %>
     <h1><%= element.title %></h1>
     <p>
         <%= element.post.substring(30, 100) +" ..." %>
         <a href="/posts/<%=element.title %>">Read More</a>
    </p>
<% }) %>

<%- include('partials/footer'); -%>